.idea 
.idea/* 
.idea/*.*
.idea/workspace.xml
geos
geos/*.*
geos-old
geos-old/*.*
*.g??
test/prg_test.g00
*.pyc
*.egg-info
*.egg-info/*
*.swp
test.out
*.out
*uselesschange
build/
dist/
test/notebooks
